<div class="panel">
  <% if @company.owner.blank? %>
  <div>No data on owners yet</div>
  <%= link_to 'Can help Us? Press here!' %>
  <% else %>
  <%= link_to @company.owner.full_name, owner_path(@company.owner) %>
  <% end %>
</div>
<div class="panel">
  <% unless @owners.blank? %>
  <h4>Owners among companies</h4>
  <% @owners.each do |owner| %>
  <div><br><%= link_to owner.name, mini_profile_company_path(owner), remote: true %></div>
  <div><%= owner.category.name %></div>
  <% end %>
  <% end %>
</div>
